.appContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.container {
  padding: 10px;
}

.ant-btn-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.ant-btn-link {
  color: gray;
  font-size: xx-large;
}

.ant-typography {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.ant-input  {
  margin-top: 20px;
}

.ant-btn-icon-only  {
  border-width: 0px;
  margin-top: 12px;
  margin-right: 20px;
}

.errorMessage {
  font-weight: bold;
}

.allDone {
  text-align: center;
  margin-top: 50px;
}